<!-- Favicons -->
<meta name="msapplication-TileImage" content="{{ site.logo_large | absolute_url }}" />
<link rel="shortcut icon" type="image/png" href="{{ site.logo | absolute_url }}" />
<link rel="icon" href="{{ site.logo | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" href="{{ site.logo_large | absolute_url }}" />
<!-- Links -->
<link rel="me" href="https://twitter.com/{{ site.author.twitter }}" />
{%- assign feed_uri = page.lang | append: "/feed.xml" | absolute_url %}
<link rel="alternate" type="application/atom+xml" href="{{ feed_uri }}" title="{{ site.title }} ({{ page.lang | upcase }})" />
{%- assign translations = site.pages | concat: site.posts | where: "ref", page.ref | sort: 'lang' -%}
{% for translation in translations %}
<link rel="alternate" hreflang="{{ translation.lang }}" href="{{ translation.url | absolute_url }}" />
{%- endfor %}
<!-- Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha256-mUZM63G8m73Mcidfrv5E+Y61y7a12O5mW4ezU3bxqW4=" crossorigin="anonymous">
