<!-- Favicons -->
<meta name="msapplication-TileImage" content="{{ site.logo_large | absolute_url }}" />
<link rel="shortcut icon" type="image/png" href="{{ site.logo | absolute_url }}" />
<link rel="icon" href="{{ site.logo | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" href="{{ site.logo_large | absolute_url }}" />
<!-- Links -->
<link rel="me" href="https://x.com/{{ site.author.twitter }}" />
{%- assign feed_uri = page.lang | append: "/feed.xml" | absolute_url %}
<link rel="alternate" type="application/atom+xml" href="{{ feed_uri }}" title="{{ site.title }} ({{ page.lang | upcase }})" />
{%- assign translations = site.pages | concat: site.posts | where: "ref", page.ref | sort: 'lang' -%}
{% for translation in translations %}
<link rel="alternate" hreflang="{{ translation.lang }}" href="{{ translation.url | absolute_url }}" />
{%- endfor %}
<!-- Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v7.2.0/css/all.css" integrity="sha256-MVopmdyC2tYTiJ8wlktf0uh0v4NgT+vNdyVFepi7Q0c= sha384-EXatlQyrOJgDaM9/a74ArMzy7/2bTMSrZj8ID1IPeVmc3GncfCugefCFWSLj8JL/ sha512-nMJjQudb6RMMr08oY6YSfNlEWl1l8XWuoOwNvtWXrrgVs8MCR8AZBB1tEAO+ogiI93gXtG1XPmg+bAP5DochSA==" crossorigin="anonymous">
{%- if page.sitemap == false %}
<meta name="robots" content="noindex">
{%- endif %}
