<!-- Favicons -->
<meta name="msapplication-TileImage" content="{{ site.logo | absolute_url }}" />
<link rel="shortcut icon" type="image/png" href="{{ site.logo | absolute_url }}" />
<link rel="icon" href="{{ site.logo | absolute_url }}" />
<link rel="apple-touch-icon-precomposed" href="{{ site.logo | absolute_url }}" />

<!-- Links -->
<link rel="me" href="https://twitter.com/{{ site.author.twitter }}" />
{%- assign feed_uri = page.lang | append: "/feed/" | absolute_url %}
<link rel="alternate" type="application/atom+xml" href="{{ feed_uri }}" title="{{ site.title }} ({{ page.lang | upcase }})" />

{%- assign translations = site.pages | concat: site.posts | where: "ref", page.ref | sort: 'lang' -%}
{% for translation in translations %}
<link rel="alternate" hreflang="{{ translation.lang }}" href="{{ translation.url | absolute_url }}" />
{%- endfor %}

{%- comment %}
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
{%- endcomment %}
