<!-- Menu Items -->
{%- assign menurefs = "blog, videos, projects, about" | split: ", " -%}
{%- for menuref in menurefs -%}
  {%- assign menuitem = site.pages | where: "ref", menuref | where: "lang", page.lang | first %}
  {%- if menuitem %}
    <a href="{{ menuitem.url }}" class="page-link"><i class="{{ menuitem.fa_class }}"></i>&nbsp;
      {%- if menuitem.url == page.url -%}
        <strong>
      {%- endif -%}
      {{ menuitem.title | upcase }}
      {%- if menuitem.url == page.url -%}
        </strong>
      {%- endif -%}
    </a>
  {%- endif %}
{%- endfor %}
<!-- Language Link -->
{%
  assign translations = site.pages
    | concat: site.posts
    | where:"ref", page.ref
    | where_exp:"item", "item.lang != page.lang"
    | sort: 'lang'
-%}
{% if translations.size == 0 %}
  {% assign translations = site.pages
    | where:"ref", "blog"
    | where_exp:"item", "item.lang != page.lang"
    | sort: 'lang'
  %}
{% endif %}
{%- for translation in translations -%}
<a lang="{{ translation.lang }}" hreflang="{{ translation.lang }}" href="{{ translation.url }}" class="page-link">
  <i class="fas fa-globe"></i>&nbsp;{{ translation.lang | upcase }}
</a>
{%- endfor -%}
