---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Anchor headings
h2 > a.heading-link {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover > a.heading-link {
  opacity: 1;
}
