/* Override the predefined variables. */
// Width of the content area
$content-width:    1024px;
$on-large:         1024px;
$on-laptop:        1024px;
$on-medium:        700px;
$on-palm:          700px;
