---
layout: base
---
<div class="home">
  <h1 class="page-heading">Directory Services Internals {{ page.title }}</h1>
  {% assign posts = site.posts | where:"lang", page.lang %}
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in posts %}
      <li>
        <span class="post-meta">
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            <i class="fas fa-calendar"></i>&nbsp;{%- include date.html date=post.date -%}
          </time>
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">
              <i class="fas fa-user"></i>&nbsp;{% include author.html %}
            </span>
          </span>
        </span>
        <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        {% if site.show_excerpts -%}
          {{ post.excerpt | replace: "<h2", "<h3" | replace: "</h2>", "</h3>" }}
          {% if post.content.size > post.excerpt.size -%}
            <a href="{{ post.url | relative_url }}">
              {%- if page.lang == 'en' -%}
              <i class="fas fa-book-reader"></i>&nbsp;Read more...
              {%- endif -%}
              {%- if page.lang == 'sk' -%}
              <i class="fas fa-book-reader"></i>&nbsp;Pokračovanie...
              {%- endif -%}
            </a>
          {%- endif -%}
        {%- endif %}
      </li>
      {%- endfor %}
    </ul>
  {%- endif %}
</div>
